a {
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689cd2;
    color: #fff;
    font-family: Uni Sans;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 10px 15px;
    font-style: 20px;
    margin-left: 5px;
}

.header__item:hover {
    background-color: #ff9900;
    border-radius: 4px;
}

.headerlogo {
    font-weight: bold;
}

.headerbutton {
    cursor: pointer;
}